<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Bytes Blog!</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="/">Panda Blog Test!</a>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href="/profile">profile</a>
            <button class="no-button" id="logout">
              logout
            </button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <h3>Have a tech byte to share? Post it here!</h3>
      </footer>
    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>