<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Bytes Blog!</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=Pangolin&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="wrapper">
      <header>
        <nav>
          <!-- Conditionally render login or logout links -->
          <ul class="nav-bar">

            {{#if logged_in}}
              <li><a href="/" class="navbar-list">home</a></li>
              <li><a href="/dashboard">dashboard</a></li>
              <li><a href="/login">login</a></li>
              <li><a href="" id="logout">logout</a></li>
            {{else}}
              <li><a href="/">home</a></li>
              <li><a href="/login">dashboard</a></li>
              <li> <a href="/login">login</a></li>
            {{/if}}

          </ul>
        </nav>
        <section class="title-description">

          <h1>Panda
            <img
              class="panda-logo"
              src="/css/assets/panda-bytes-logo.png"
              alt="panda-logo"
            />
            Bytes
          </h1>

          <article class="blurb">Where we can digest tech bits together</article>
        </section>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <h4> Have a tech byte to share? </h4>
        <article class="go-login">
          <a href="/signup"> Sign up and start byting!</a>
        </article>
      </footer>
    </section>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>