<section class="card-wrapper">
  <h3>Edit Post:</h3>

  <form class="form">
    <article class="new-post-form">
      <label for="card-title">Post Title:</label>
      <textarea
        class="card-detail"
        type="text"
        id="update-title"
        name="update-title"
      >{{title}}</textarea>
    </article>
    <article class="new-post-form">
      <label for="card-detail">Type details below:</label>
      <textarea
        class="card-detail"
        id="update-detail"
        name="update-detail"
      >{{detail}}</textarea>
    </article>

    <article class="update-delete">
      <button class="updateBtn" data-id="{{id}}">UPDATE</button>
      <button class="deleteBtn" data-id="{{id}}">DELETE</button>
    </article>

  </form>
</section>

<script src="/js/post.js"></script>