<!--enter div components here-->

{{#each posts as |post|}}
  <section class="post-card">
    <article class="post-card-title">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
    </article>
    <article class="post-card-detail">
      <h3>
        {{detail}}
      </h3>
    </article>
  </section>
{{/each}}