<div class="main-form-wrapper">
  <section class="login-wrapper">
    <h2>Login</h2>

    <form class="login-form">
      <article class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </article>
      <article class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </article>
      <article class="form-group">
        <button class="submitBtn" type="submit">login</button>
      </article>
    </form>
  </section>
  <section class="signup-wrapper">
    <h2>Signup</h2>

    <form class="signup-form">
      <article class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </article>
      <article class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </article>
      <article class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </article>
      <article class="form-group">
        <button class="submitBtn" type="submit">signup</button>
      </article>
    </form>
  </section>
</div>

<script src="./js/login.js"></script>