<div class="post-wrapper">
  <section class="new-post-card">
    <h3>Create a New Post:</h3>

    <form class="new-post-form">
      <article class="new-post-group">
        <label for="post-title">Post Title:</label>
        <input
          class="form-input"
          type="text"
          id="post-title"
          name="post-title"
        />
      </article>
      <article class="post-detail-group">
        <label for="post-detail">Type the details below:</label>
        <textarea
          class="post-detail"
          id="post-detail"
          name="post-detail"
        ></textarea>
      </article>
      <article class="form-group">
        <button type="submit" class="submitPostBtn">Post</button>
      </article>
    </form>
  </section>

  <script src="/js/new-post.js"></script>