<section class="post-card">
  <article class="post-card-header">
    <h2>
      {{title}}
    </h2>
  </article>

  <div class="post-body">
    <p>
      {{blogger.username}}:
      {{detail}}
    </p>
  </div>

  <form class="new-comment-form">
    <div class="comment-form-group">
      <label for="comment-detail">Type your comment below:</label>
      <textarea
        class="comment-box"
        id="comment-detail"
        name="comment-detail"
      ></textarea>
    </div>
    <div class="comment-form-group">
      <button
        type="submit"
        class="submitCommentBtn"
        data-id="{{post.id}}"
      >Submit your comment</button>
    </div>
  </form>
</section>

<script src="/js/post.js"></script>