<p class="notice">New here? Create an account to start sharing!</p>

<section class="signup-wrapper">
  <h2>Signup</h2>

  <form class="signup-form">
    <article class="form-group">
      <label for="username-signup">username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </article>
    <article class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </article>
    <article class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </article>
    <article class="form-group">
      <button class="submitBtn" type="submit">signup</button>
    </article>
  </form>
  <a href='./login'>log in instead</button>
</section>

<script src="/js/login.js"></script>