<section class="card-wrapper">
  <p class="notice">New here? Create an account to start sharing!</p>

  <h2>Sign Up</h2>

  <form class='form' id="signup-form">
    <article class="form-group">
      <label for="username-signup">username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </article>
    <article class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </article>
    <article class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </article>
    <article class="form-group">
      <button class="submitBtn" type="submit">sign up</button>
    </article>
  </form>
  <a class='option' href='./login'>&#x3e;&#x3e; log in instead &#x3c;&#x3c;</button>
</section>

<script src="./js/signup.js"></script>