/*=============================================== */
/*                   GLOBAL STYLES                */
/*=============================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  font-size: 16px;
}

:root {
  --clr--gr--dark: #a1c4fd;
  --clr--gr--light: #c2e9fb;
  --clr--border: #006699;
  --clr--lightborder: #0066997e;
  --clr--body--drk: #ebedee;
  --clr--body--light: #fdfbfb;
  --ff--body: "Pangolin", sans-serif;
  --ff--text: "Inconsolata", sans-serif;
}

a:visited,
a:active,
a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: blue;
  font-style: italic;
}

/*=============================================== */
/*                    BODY STYLES                 */
/*=============================================== */

body {
  display: flex;
  background-color: var(--clr--body--light);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff--body);
}

header {
  background-image: linear-gradient(
    var(--clr--gr--dark),
    var(--clr--gr--light)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 150px;
  font-weight: bolder;
  padding: 0 1em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-top: 1em;
}

h1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

h2 {
  display: flex;
  font-size: 1.5em;
}

h3 {
  display: flex;
  font-size: 1.25em;
  width: 100%;
}

.post-title {
  padding-left: 0.75em;
}

.notice {
  text-align: center;
}
p {
  font-size: 1em;
  padding: 1em;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.25em;
  font-size: 0.75em;
}

.welcome-name {
  font-size: 1em;
  padding-left: 0.25em;
}

.panda-logo {
  width: 30px;
}

.title-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1em;
}

.blurb {
  font-family: var(--ff--text);
  font-weight: 500;
  padding: 0 3em;
}

#current-user {
  color: transparent;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

main {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-== */
/*           CARD  STYLES          */
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-== */

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(#cfd9df, #e2ebf0);
  width: 100%;
}

.card-detail {
  display: flex;
  align-items: center;
  font-family: var(--ff--text);
  width: 100%;
}

.add-new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    var(--clr--gr--dark),
    var(--clr--gr--light)
  );
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.option {
  width: fit-content;
}

.go-login {
  border-bottom: 1px solid black;
  margin-left: 0.25em;
}

.card,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 1px solid var(--clr--border);
  border-radius: 0.25em;
  padding: 0.5em;
  width: 100%;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.25em;
  width: 80%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2em;
  border: 1px solid var(--clr--lightborder);
}

.form-group {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
  width: 100%;
}

.form-input {
  height: 2em;
}

.new-post-card,
.post-list {
  width: 100%;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.update-delete {
  display: flex;
  gap: 2em;
}

button {
  border: 1px solid var(--clr--border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  width: 100%;
  font-family: "Inconsolata", sans-serif;
}

input,
textarea {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--clr--border);
  border-radius: 0.25em;
  padding: 0.5em;
}

textarea {
  height: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    var(--clr--gr--dark),
    var(--clr--gr--light)
  );

  width: 100%;
  padding: 1em;
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.75em;
  }
  .form-group {
    flex-direction: column;
  }
  .card-header {
    flex-direction: column;
    align-items: start;
  }
  footer {
    flex-direction: column;
  }
}
